body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav .brand-logo {
  position: relative;
}

.content{
  min-height: calc(100vh - 70px - 194px);
  padding: 1.5rem 0;
}

.myHeader {
  background-image: url("https://previews.123rf.com/images/fahrwasser/fahrwasser1909/fahrwasser190900264/130711445-thanksgiving-dinner-table-overhead-shot-long-banner.jpg");
  background-size: cover;
  height: 250px;
}

.mybr{
  color: #ffb216 !important;
  margin-left: 1rem !important;
  font-weight: bold !important;
  font-size: 40px !important;
  text-shadow: 
		-0   -3px 1px #000000,
		 0   -3px 1px #000000,
		-0    3px 1px #000000,
		 0    3px 1px #000000,
		-3px -0   1px #000000,
		 3px -0   1px #000000,
		-3px  0   1px #000000,
		 3px  0   1px #000000,
		-1px -3px 1px #000000,
		 1px -3px 1px #000000,
		-1px  3px 1px #000000,
		 1px  3px 1px #000000,
		-3px -1px 1px #000000,
		 3px -1px 1px #000000,
		-3px  1px 1px #000000,
		 3px  1px 1px #000000,
		-2px -3px 1px #000000,
		 2px -3px 1px #000000,
		-2px  3px 1px #000000,
		 2px  3px 1px #000000,
		-3px -2px 1px #000000,
		 3px -2px 1px #000000,
		-3px  2px 1px #000000,
		 3px  2px 1px #000000,
		-3px -3px 1px #000000,
		 3px -3px 1px #000000,
		-3px  3px 1px #000000,
		 3px  3px 1px #000000,
		-3px -3px 1px #000000,
		 3px -3px 1px #000000,
		-3px  3px 1px #000000,
		 3px  3px 1px #000000;
}

#root{
  background-image: url(https://images.wallpapershq.com/wallpapers/3928/wallpaper_3928_2160x3840.jpg);
  background-position: fixed;
  background-size: cover;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
}

.card-content {
  flex-grow: 1;
}

.btnNav {
  margin: 1rem;
  border: 2px;
  border-style: solid;
  border-radius: 4px;
  border-color: #000000;
  height: 50px;
  background-color:#ffb216;
  color: #000000;
  font-weight: bold;
  display: inline-flex;
}

.btnNav:hover{
  background-color:hwb(123 14% 45%);
  color: white;
}

.btnrec{
  border: 2px;
  border-style: solid;
  border-radius: 4px;
  border-color: #000000;
  height: 70px;
  background-color:#ffb216;
  color: #000000;
  font-weight: bold;
}

.btnrec:hover{
  background-color:hwb(123 14% 45%);
  color: white;
}

#search-field{
  border-bottom: 1px solid #000000;
  color: #000000 !important;
  font-size: 20px;
}

input::placeholder {
  color: #000000;
  font-size: 20px;
}


.imgrecipe{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 40%;
  max-height: 40%;
}

.YTVideo{ 
display: block;
margin-left: auto;
margin-right: auto;
min-width: 560px;
min-height: 315px;
}

.textRecipe{
  font-size: 20px;
  font-weight: bold;
}

@media (min-width: 247px) and (max-width: 590px){
.YTVideo{
  min-height: auto;
  min-width: auto;
}
.imgrecipe{
  max-width: 100%;
  max-height: 100%;
}

}

@media (min-width: 591px) and (max-width: 980px){
  .imgrecipe{
    max-width: 100%;
    max-height: 100%;
  }
  
  }